{% extends "__layout_sidebar_left.html" %}
{% load static %}
{% load i18n %}
{% load cloudinary %}

{% block col-side %}
    {% cloudinary request.user.profile.profile_picture format="jpg" width=250 height=250 crop="fill" %}
{% endblock col-side %}

{% block col-main %}
    <div>
        <h3>
            {{ request.user.profile.display_name }}
            <small><a href="{% url 'profile:user-profile-update' %}">{% trans 'Update profile' %}</a></small>
        </h3>
        <p>Email: {{ request.user.profile.user.email }}</p>
        <p>Last login: {{ request.user.profile.user.last_login }}</p>
        {%  if request.user.profile.is_developer %}
            <ul>
            {% for api_token in request.user.profile.api_tokens.all %}
                <li><b>{{ api_token.token }}</b> - {{ api_token.website_url }}</li>
            {% endfor %}
            </ul>
            <a id="game_new" href="{% url 'profile:create-api-key' %}" class="button">New API Key</a>
        {% endif %}
    </div>
{% endblock col-main %}