{% extends "__base.html" %}
{% load static i18n cloudinary %}

{% block title %}{{ user.profile.display_name }} &ndash; {{ block.super }}{% endblock title %}

{# TODO: Modify this to be a public developer page #}


{% block main %}

    <div itemscope itemtype="http://schema.org/Organization">
        <div class="row text-center">
            <p>
                {% if user.profile.third_party_login %}
                    <img itemprop="image" src="{{ developer.user.socialaccount_set.all.0.get_avatar_url }}" width="128" height="128">
                {% else %}
                    <img itemprop="image" src="{% cloudinary_url developer.profile_picture format="png" width=256 height=256 crop="fit" %}" width="128" height="128">
                {% endif %}
            </p>
            <h3 itemprop="name">{{ developer.display_name }}</h3>
            <p>
                <div class="button-group">
                    {% if developer.support_email %}{# TODO: check if a game is owned #}
                        <a itemprop="email" href="mailto:{{ game.dev.support_email }}" class="button secondary">
                            <i class="fa fa-envelope"></i> {% trans "Send an email to the developer" %}
                        </a>
                    {% endif %}
                    {% if developer.website %}
                        <a itemprop="sameAs" href="{{ game.dev.website }}" class="button secondary">
                            <i class="fa fa-globe"></i> {% trans "Visit the developer’s website" %}
                        </a>
                    {% endif %}
                </div>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h2>
                {% trans 'Games' %}
            </h2>
        </div>
    </div>
    {% include '_game_grid.html' with games=developer.get_developed_games %}

{% endblock main %}
{% if user_profile.is_developer %}
    {% block body_js %}
        {{ block.super }}
        <script>
            {% include "_chart.js" with elem="#dev-statistics-chart" chart=sales_and_profits_chart %}
        </script>
    {% endblock body_js %}
{% endif %}