{% extends "__base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %} &ndash; {{ block.super }}{% endblock title %}

{% block main %}
    <div class="row">
        <div class="small-12 columns">
            <h1>{% trans "Sign Up" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-6 columns">
            <a href="{% url 'profile:signup-player' %}">
                <div class="panel callout radius">
                    <h2>{% trans 'I’m a player!' %}</h2>
                </div>
            </a>
        </div>
        <div class="small-12 medium-6 columns">
            <a href="{% url 'profile:signup-developer' %}">
                <div class="panel radius">
                    <h2>{% trans 'I’m a developer!' %}</h2>
                </div>
            </a>
        </div>
    </div>

{% endblock %}