{% extends "__base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign Up" %} &ndash; {{ block.super }}{% endblock title %}

{% block main %}
    <h2>{% trans "Sign Up" %}</h2>
    <div class="button-group large expanded">
        <a class="button" href="{% url 'profile:signup-player' %}">
                <span>{% trans 'I’m a player!' %}</span>
        </a>
        <a class="button secondary" href="{% url 'profile:signup-developer' %}">
            {% trans 'I’m a developer!' %}
        </a>
    </div>

{% endblock %}