{% extends "__base.html" %}
{% load static i18n %}

{% block title %}{% trans 'My Profile' %} &ndash; {{ block.super }}{% endblock title %}


{% block main %}
    {% include '_user_profile_details.html' %}
    {% if user.profile.is_developer %}
        <div class="row">
            <div class="small-12 columns">
                <div data-sticky-container>
                    <div class="sticky" id="profile-nav" data-sticky data-margin-top="0" style="width:100%;" data-margin-bottom="0" data-top-anchor="stats">
                        <nav data-magellan>
                            <ul class="horizontal menu expanded">
                                <li><a href="#stats">{% trans 'Statistics' %}</a></li>
                                <li><a href="#api-keys">{% trans 'API Keys' %}</a></li>
                                <li><a href="#games">{% trans 'Games' %}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="sections">
                    <section id="stats" data-magellan-target="stats">
                        <h3>{% trans "Sales and Profits" %}</h3>
                        <div id="dev-statistics-chart" class="expanded" style="height: 480px;"></div>
                    </section>
                    <hr>
                    <section id="api-keys" data-magellan-target="api-keys">
                        <h3>{% trans "API Keys" %}</h3>
                        <a href="{% url 'profile:create-api-key' %}" class="button">{% trans "Create a new API key" %}</a>
                        <table>
                            <tr>
                                <th>{% trans "Token" %}</th>
                                <th>{% trans "Website" %}</th>
                            </tr>
                            {% for api_token in request.user.profile.api_tokens.all %}
                                <tr>
                                    <td>{{ api_token.token }}</td>
                                    <td>{{ api_token.website_url }}</td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="2">{% trans "No API keys found" %}</td></tr>
                            {% endfor %}
                        </table>
                    </section>
                    <hr>
                    <section id="games" data-magellan-target="games">
                        <h3>{% trans "Games" %}</h3>
                        {% include '_game_grid.html' %}
                    </section>
                </div>
            </div>
        </div>
        <div class="row">
        {% block body_js %}
            {{ block.super }}
            <script>
                {% include "_chart.js" with elem="#dev-statistics-chart" chart=sales_and_profits_chart %}
            </script>
        {% endblock body_js %}
        </div>
    {% endif %}
{% endblock main %}