{% extends "__base.html" %}
{% load static i18n %}

{% block title %}{% trans 'My Profile' %} &ndash; {{ block.super }}{% endblock title %}


{% block main %}
    {% include '_user_profile_details.html' %}
    {% if user.profile.is_developer %}
        <div class="row">
            <div class="small-12 columns">
                <ul class="tabs" data-tab data-options="deep_linking:true">
                    <li class="tab-title active"><a href="#stats">{% trans 'Statistics' %}</a></li>
                    <li class="tab-title"><a href="#games">{% trans 'Games' %}</a></li>
                    <li class="tab-title"><a href="#api-keys">{% trans 'API Keys' %}</a></li>
                </ul>
                <div class="tabs-content">
                    <div class="content active" id="stats">
                        <div class="row">
                            <div class="small-12 columns">
                            </div>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <h3>{% trans "Sales and Profits" %}</h3>
                                <div id="dev-statistics-chart" class="expanded" style="height: 50%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content" id="games">
                        <div class="row">
                            <div class="small-12 columns">
                                {% include '_game_grid.html' %}
                            </div>
                        </div>
                    </div>
                    <div class="content" id="api-keys">
                        <div class="row">
                            <ul>
                            {% for api_token in request.user.profile.api_tokens.all %}
                                <li><b>{{ api_token.token }}</b> - {{ api_token.website_url }}</li>
                            {% empty %}
                                <p>No keys found.</p>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
    {% block body_js %}
        {{ block.super }}
        <script>
            {% include "_chart.js" with elem="#dev-statistics-chart" chart=sales_and_profits_chart %}
        </script>
    {% endblock body_js %}
    </div>
    {% endif %}
{% endblock main %}