{% load i18n cloudinary %}

<div itemscope itemtype="http://schema.org/Game">
    <div class="card">
        <div class="row">
            <div class="small-centered small-12 {% if not minimal %}medium-6 large-4{% endif %} columns text-center">
                <a href="{% url "game:detail" game.slug %}">
                    {# Game icon #}
                    <p><img itemprop="image" src="{% cloudinary_url game.icon format="png" width=256 height=256 crop="pad" %}" width="128" height="128"></p>
                    {# If the game is not published, add a badge #}
                    {% if game.dev == user.profile and not game.is_published %}<span class="label warning">{% trans "Unpublished" %}</span>{% endif %}
                    {# Game name #}
                    <h3>
                        <span itemprop="name">{{ game.name }}</span>
                    </h3>
                </a>
                {# Game developer #}
                <a itemprop="publisher" itemscope itemtype="http://schema.org/Organization" href="{% url 'game:developer-page' game.dev.url_slug %}">
                    <span class="label secondary" itemprop="name">{{ game.dev }}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns text-center">
                {# Game actions #}
                <div class="game-actions">
                    {% if game in bought_games %}
                        {# Play button #}
                        <a href="{% url 'game:play' game.slug %}" class="button small">
                            {% trans "Play" %}
                        </a>
                    {% else %}
                        {# Buy button #}
                        <a data-open="dialog-buy-{{ game.slug }}" class="button small success">
                            <i class="fa fa-cart-arrow-down"></i>
                            {% if game.price == 0 %}
                                {% trans "Free" %}
                            {% else %}
                                {{ game.price }} &euro;
                            {% endif %}
                        </a>
                        {# Buy dialog #}
                        <div id="dialog-buy-{{ game.slug }}" class="reveal" data-reveal aria-labelledby="dialog-title-buy-{{ game.slug }}">
                            <h2 id="dialog-title-buy-{{ game.slug }}">{% blocktrans with name=game.name %}Buy {{ name }}{% endblocktrans %}</h2>
                            <p>{% trans "The payment will be processed by Simple Payments&trade;." %}</p>
                            {% include "_game_confirm_buy.html" %}
                            <button class="close-button" data-close aria-label="{% trans "Close dialog" %}" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {# Share button #}
                    <a data-toggle="social-drop-{{ game.slug }}" class="button small hollow">
                        {# Screen readers #}<span class="show-for-sr">{% trans "Show sharing menu" %}</span>
                        {# Visual users #}<span aria-hidden="true"><i class="fa fa-share-square-o"></i></span>
                    </a>
                    {# Share dropdown #}
                    <div id="social-drop-{{ game.slug }}" class="dropdown-pane stacked small button-group" data-dropdown>
                        {% url "game:detail" game.slug as game_path %}
                        {% with request.get_host|add:game_path as game_url %}
                            <a class="button" href="https://www.facebook.com/sharer/sharer.php?u={{ game_url }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
                            <a class="button" href="https://plus.google.com/share?url={{ game_url }}" target="_blank"><i class="fa fa-google-plus-square"></i> Google Plus</a>
                            <a class="button" href="https://twitter.com/home?status={{ game_url }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>
                        {% endwith %}
                    </div>
                    {# Developer actions #}
                    {% if game.dev == user.profile %}
                        {# Developer options button #}
                        <a data-toggle="dev-drop-{{ game.slug }}" class="button small hollow">
                            {# Screen readers #}<span class="show-for-sr">{% trans "Show developer actions menu" %}</span>
                            {# Visual users #}<span aria-hidden="true"><i class="fa fa-cog"></i></span>
                        </a>
                        {# Developer dropdown #}
                        <div id="dev-drop-{{ game.slug }}" class="dropdown-pane stacked small button-group" data-dropdown>
                            <a class="button" href="{% url 'game:update' game.slug %}">
                                {% trans "Edit" %}
                            </a>
                            <a class="button" data-open="dialog-delete-{{ game.slug }}">
                                {% if game.is_published %}
                                    {% trans "Remove from store" %}
                                {% else %}
                                    {% trans 'Publish' %}
                                {% endif %}
                            </a>
                        </div>
                        {# Delete / Publish game dialog #}
                        <div id="dialog-delete-{{ game.slug }}" class="reveal" data-reveal aria-labelledby="dialog-title-delete-{{ game.slug }}">
                            {% if game.is_published %}
                                {% blocktrans asvar modal_title with name=game.name %}Remove {{ name }} from store{% endblocktrans %}
                            {% else %}
                                {% trans 'Publish' as modal_title %}
                                {% blocktrans asvar modal_title with name=game.name %}Publish {{ name }}{% endblocktrans %}
                            {% endif %}
                            <h2 id="dialog-title-delete-{{ game.slug }}">{{ modal_title }}</h2>
                            {% include "_game_confirm_delete.html" %}
                            <button class="close-button" data-close aria-label="{% trans "Close dialog" %}" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if not minimal %}
        <div class="row">
            {% if game.screenshots.all %}
                <div class="small-12 large-6 columns">
                    <ul data-orbit>
                        {% for screenshot in game.screenshots.all %}
                            <li data-orbit-slide="headline-1">
                                <img itemprop="image" src="{% cloudinary_url screenshot.image format="jpg" width=512 height=384 crop="pad" gravity="center" %}" width="512" height="384">
                                <div class="orbit-caption">Screenshot {{ forloop.counter }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="small-12 {% if game.screenshots.all %}large-6{% endif %} columns">
                <p>{{ game.description }}</p>
                <table>
                    <thead>
                        <tr>
                            <th>{% trans "Added" %}</th>
                            <th>{% trans "Sold" %}</th>
                            <th>{% trans "Played" %}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>{{ game.date_added|date }}</th>
                            <th>&times; {{ game.downloads }}</th>
                            <th>&times; {{ game.plays }}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                {% include '_results_list.html' with scores=global_scores title=_('Global Scores') %}
            </div>

            {%  if game in request.user.profile.get_developed_games %}
                <div class="small-12 columns">
                   <table>
                        <tr>
                            <th>{% trans "Earnings" %}</th>
                            <th>{% trans "First sale" %}</th>
                        </tr>
                        <tr>
                            <td>{{ game_stats.amount_earned }} &euro;</td>
                            <td>{{ game_stats.first_sell }}</td>
                        </tr>
                   </table>
                </div>
            {%  endif %}
        </div>
    {% endif %}
</div>
