{% load i18n %}

{% if game in bought_games %}
    <a href="{% url 'game:play' game.slug %}" class="button radius tiny success split">{% trans "Play" %}<span data-dropdown="social-drop-{{ game.slug }}"></span></a>
{% else %}
    <a href="{% url 'game:buy' game.slug %}" class="button radius tiny split">{% trans "Buy" %}: {{ game.price }} &euro;<span data-dropdown="social-drop-{{ game.slug }}"></span></a>
{% endif %}
{% if game in developed_games %}
    <a href="{% url 'game:update' game.slug %}" class="button radius tiny secondary split" id="game_update_button">{% trans "Edit" %}<span data-dropdown="dev-drop-{{ game.slug }}"></span></a>
    <br>
    <ul id="dev-drop-{{ game.slug }}" class="f-dropdown" data-dropdown-content>
        <li><a href="{% url 'game:delete' game.pk %}">
            {% if game.is_published %}
                {% trans "Remove from store" %}
            {% else %}
                {% trans 'Publish' %}
            {% endif %}
        </a></li>
    </ul>
{% endif %}
<ul id="social-drop-{{ game.slug }}" class="f-dropdown" data-dropdown-content>
    <li><a href="#">{% trans "Share on Facebook or something!" %}</a></li>
</ul>