<div class="row">
    <table>
        <caption>Details</caption>
        <thead>
            <tr>
                <th>Developer</th>
                <th>Added</th>
                <th>Downloads</th>
                <th>Plays</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <th>{{ game.dev }}</th>
                <th>{{ game.date_added }}</th>
                <th>{{ game.downloads }}</th>
                <th>{{ game.plays }}</th>
            </tr>
        </tbody>
    </table>
</div>