{% load static %}

{%  with request.user.profile.get_developed_games as developed_games %}
<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 game-grid">
    {% for game in games %}
    <li>
        <a href="{% url 'game:detail' game.slug %}">
{#            <img src="{% get_static_prefix %}images/{{game.icon}}" width="150" height="150"/>#}
            <img src="https://screenshotlayer.com/images/assets/placeholder.png">
            <h4>{{ game.name }}</h4>
        </a>
        <p>Price: {{ game.price }}</p>
        <p>Downloads: {{ game.downloads }}</p>
        {%  if game in developed_games %}
            <a href="{% url 'game:delete' game.pk %}">
            {% if game.is_published %}
                Unpublish
            {% else %}
                Publish
            {% endif %}
            </a>
        {%  endif %}
    </li>
    {% endfor %}
</ul>
{% endwith %}