{% load static %}

<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4 game-grid">
    {% for game in games %}
    <li>
        <a href="{% url 'game:detail' game.slug %}">
            <img src="{% get_static_prefix %}images/{{game.icon}}" width="150" height="150"/>
            <h4>{{ game.name }}</h4>
        </a>
        <span>Is published: {{ game.is_published }}</span>
        <a href="{% url 'game:delete' game.pk %}">
        {% if game.is_published %}
            Unpublish
        {% else %}
            Publish
        {% endif %}
        </a>
    </li>
    {% endfor %}
</ul>