{% load i18n humanize cloudinary %}

<div itemscope itemtype="http://schema.org/Game">
    <div class="row">
        <div class="small-centered small-12 {% if not minimal %}medium-6 large-4{% endif %} columns text-center">
            <div class="card game-card">
                <a href="{% url "game:detail" game.slug %}">
                    {# Game icon #}
                    <p><img itemprop="image" src="{% cloudinary_url game.icon format="png" width=256 height=256 crop="pad" %}" width="128" height="128"></p>
                    {# Game name #}
                    <h3>
                        <span itemprop="name">{{ game.name }}</span>
                    </h3>
                </a>
                {# Game developer #}
                <a itemprop="publisher" itemscope itemtype="http://schema.org/Organization" href="{% url 'game:developer-page' game.dev.url_slug %}">
                    <span class="label secondary" itemprop="name">{{ game.dev }}</span>
                </a>
                {# Game actions #}
                <div class="game-actions">
                    {% if game in bought_games %}
                        {# Play button if the user has bought the game #}
                        <a href="{% url 'game:play' game.slug %}" class="button small">
                            {% trans "Play" %}
                        </a>
                    {% elif game.dev == user.profile and not game.is_published %}
                        {# If the game is not published, add a publish button for the developer #}
                        <a data-open="dialog-delete-{{ type }}-{{ game.slug }}" class="button small warning">
                            {% trans "Publish" %}
                        </a>
                    {% elif user.is_authenticated %}
                        {# Buy button if the user is logged in #}
                        <a data-open="dialog-buy-{{ type }}-{{ game.slug }}" class="button small success">
                            <i class="fa fa-cart-arrow-down"></i>
                            {% if game.price == 0 %}
                                {% trans "Free" %}
                            {% else %}
                                {{ game.price }} &euro;
                            {% endif %}
                        </a>
                        {# Buy dialog #}
                        <div id="dialog-buy-{{ type }}-{{ game.slug }}" class="reveal" data-reveal aria-labelledby="dialog-title-buy-{{ type }}-{{ game.slug }}">
                            <h2 id="dialog-title-buy-{{ type }}-{{ game.slug }}">{% blocktrans with name=game.name %}Buy {{ name }}{% endblocktrans %}</h2>
                            <p>{% trans "The payment will be processed by Simple Payments&trade;." %}</p>
                            {% include "_game_confirm_buy.html" %}
                            <button class="close-button" data-close aria-label="{% trans "Close dialog" %}" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                    {# Share button #}
                    <a data-toggle="social-drop-{{ type }}-{{ game.slug }}" class="button small hollow">
                        {# Screen readers #}<span class="show-for-sr">{% trans "Show sharing menu" %}</span>
                        {# Visual users #}<span aria-hidden="true"><i class="fa fa-share-square-o"></i></span>
                    </a>
                    {# Share dropdown #}
                    <div id="social-drop-{{ type }}-{{ game.slug }}"
                         class="dropdown-pane stacked small button-group action-dropdown"
                         data-dropdown>
                        {% url "game:detail" game.slug as game_path %}
                        {% with request.get_host|add:game_path as game_url %}
                            <a class="button" href="https://www.facebook.com/sharer/sharer.php?u={{ game_url }}" target="_blank"><i class="fa fa-facebook-square"></i> Facebook</a>
                            <a class="button" href="https://plus.google.com/share?url={{ game_url }}" target="_blank"><i class="fa fa-google-plus-square"></i> Google Plus</a>
                            <a class="button" href="https://twitter.com/home?status={{ game_url }}" target="_blank"><i class="fa fa-twitter-square"></i> Twitter</a>
                        {% endwith %}
                    </div>
                    {# Developer actions #}
                    {% if game.dev == user.profile %}
                        {# Developer options button #}
                        <a data-toggle="dev-drop-{{ type }}-{{ game.slug }}" class="button small hollow">
                            {# Screen readers #}<span class="show-for-sr">{% trans "Show developer actions menu" %}</span>
                            {# Visual users #}<span aria-hidden="true"><i class="fa fa-cog"></i></span>
                        </a>
                        {# Developer dropdown #}
                        <div id="dev-drop-{{ type }}-{{ game.slug }}"
                             class="dropdown-pane stacked small button-group action-dropdown"
                             data-dropdown>
                            <a class="button edit-game-button" href="{% url 'game:update' game.slug %}">
                                <i class="fa fa-edit"></i>
                                {% trans "Edit" %}
                            </a>
                            <a class="button" data-open="dialog-delete-{{ type }}-{{ game.slug }}">
                                {% if game.is_published %}
                                    <i class="fa fa-trash-o"></i>
                                    {% trans "Remove from store" %}
                                {% else %}
                                    <i class="fa fa-globe"></i>
                                    {% trans "Publish" %}
                                {% endif %}
                            </a>
                        </div>
                        {# Delete / Publish game dialog #}
                        <div id="dialog-delete-{{ type }}-{{ game.slug }}" class="reveal" data-reveal aria-labelledby="dialog-title-delete-{{ type }}-{{ game.slug }}">
                            {% if game.is_published %}
                                {% blocktrans asvar modal_title with name=game.name %}Remove {{ name }} from store{% endblocktrans %}
                            {% else %}
                                {% trans 'Publish' as modal_title %}
                                {% blocktrans asvar modal_title with name=game.name %}Publish {{ name }}{% endblocktrans %}
                            {% endif %}
                            <h2 id="dialog-title-delete-{{ type }}-{{ game.slug }}">{{ modal_title }}</h2>
                            {% include "_game_confirm_delete.html" %}
                            <button class="close-button" data-close aria-label="{% trans "Close dialog" %}" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if not minimal %}
        <div class="row">
            {% if game.screenshots.all %}
                <div class="small-12 large-6 columns">
                    <div class="orbit" role="region" aria-label="{% trans "Screenshots" %}" data-orbit>
                        <ul class="orbit-container">
                            <button class="orbit-previous"><span class="show-for-sr">{% trans "Previous screenshot" %}</span>&#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">{% trans "Next screenshot" %}</span>&#9654;&#xFE0E;</button>
                            {% for screenshot in game.screenshots.all %}
                                <li class="orbit-slide {% if forloop.first %}is-active{% endif %}">
                                    <img class="orbit-image" itemprop="image" src="{% cloudinary_url screenshot.image format="jpg" width=512 height=384 crop="pad" gravity="center" %}" width="512" height="384">
                                </li>
                            {% endfor %}
                        </ul>
                        <nav class="orbit-bullets">
                            {% for screenshot in game.screenshots.all %}
                                <button class="{% if forloop.first %}is-active{% endif %}" data-slide="{{ forloop.counter0 }}"><span class="show-for-sr">{% blocktrans with i=forloop.counter|ordinal %}Show {{ i }} screenshot{% endblocktrans %}</span></button>
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            {% endif %}
            <div class="small-12 {% if game.screenshots.all %}large-6{% endif %} columns">
                <p>{{ game.description }}</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                {% include '_results_list.html' with scores=global_scores title=_('Global Scores') %}
            </div>

            {%  if game in request.user.profile.get_developed_games %}
                <div class="small-12 columns">
                    <table class="unstriped">
                        <tr>
                            <th colspan="2">{% trans "Earnings" %}</th>
                            <td colspan="2" class="stat">{{ game_stats.amount_earned }} &euro;</td>
                            <th colspan="2">{% trans "Sold" %}</th>
                            <td colspan="2" class="stat">&times; {{ game.downloads }}</td>
                            <th colspan="2">{% trans "Played" %}</th>
                            <td colspan="2" class="stat">&times; {{ game.plays }}</td>
                        </tr>
                        <tr>
                            <th colspan="3">{% trans "Added" %}</th>
                            <td colspan="3">{{ game.date_added|date:"SHORT_DATETIME_FORMAT" }}</td>
                            <th colspan="3">{% trans "First sale" %}</th>
                            <td colspan="3">{{ game_stats.first_sell|date:"SHORT_DATETIME_FORMAT" }}</td>
                        </tr>
                    </table>
                </div>
            {%  endif %}
        </div>
    {% endif %}
</div>
