{% extends "__base.html" %}
{% load static %}
{% load i18n %}
{% load cloudinary %}

{% block main %}
{% with request.user.profile.get_bought_games as bought_games %}
    <div class="row">
        <div class="small-12 columns">
            <br>
            <h3>{{ game.name|title }}</h3>
            <br>
            <div class="small-6 large-6 columns">
                {% cloudinary game.icon format="jpg" width=250 height=250 crop="fill" %}
            </div>
            <div class="small-6 large-6 columns">
                {% if game.screenshots.all %}
                    <span>Screenshots:</span>
                {% endif %}
                <ul data-orbit>
                    {% for screenshot in game.screenshots.all %}
                        <li data-orbit-slide="headline-1">
                            {% cloudinary screenshot.image format="jpg" width=250 height=250 crop="fill" %}
                            <div class="orbit-caption">Screenshot {{ forloop.counter }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            {% with request.user.profile.get_developed_games as developed_games %}
                {% include '_game_actions.html' with game=game developed_games=developed_games bought_games=bought_games %}
            {%  endwith %}
        </div>
    </div>

    <div class="row">
        <div class="small-12 large-7 columns">
            {% include '_game_details.html' %}
        </div>
        <div class="small-12 large-5 columns">
            {% include '_results_list.html' with scores=global_scores title=_('Global Scores') %}
        </div>
        <div class="small-12 columns">
            <p><b>Description</b></p><p>{{ game.description }}</p>
        </div>
        <div class="small-4 columns">
            {%  if game in request.user.profile.get_developed_games %}
                <p><b>Earning:</b> {{ game_stats.amount_earned }} &euro;</p>
                <p><b>First sell:</b> {{ game_stats.first_sell }}</p>
            {%  endif %}
        </div>
    </div>

{%  endwith %}
{% endblock main %}