{% extends "__base.html" %}
{% load i18n %}

{% block title %}{{ page_title }} &ndash; {{ block.super }}{% endblock title %}

{% block main %}

<div class="row">
    <div class="small-12 columns">
        <h1>{{ page_title }}</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <h1>{% include "_game_grid.html" with games=games %}</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {% include "_paginator.html" %}
    </div>
</div>

{% endblock main %}