{% extends "__base.html" %}
{% load i18n cloudinary %}

{% block title %}{{ page_title }} &ndash; {{ block.super }}{% endblock title %}

{% block main %}

    <div class="small-12 medium-6 large-4 columns">
        <div class="row">
            {% if game.icon %}
                {% cloudinary game.icon format="jpg" width=250 height=250 crop="fill" %}
            {% else %}
                <img src="https://screenshotlayer.com/images/assets/placeholder.png">
            {% endif %}
        </div>
    </div>
    <div class="small-12 medium-6 large-8 columns">
        <div class="row">
            <div class="small-12 columns">
                <h1>{% blocktrans with name=game.name %}Buy {{ name }}{% endblocktrans %}</h1>
                <p>{% trans "The payment will be processed by Simple Payments&trade;." %}</p>
            </div>
        </div>
        <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
            {# include "_input_grid.html" #}
            {{ form }}
            <div class="row">
                <div class="small-6 columns">
                    <a class="button float-right" href="{% url 'game:detail' game.slug %}">{% trans "Cancel" %}</a>
                </div>
                <div class="small-6 columns">
                    <input class="button success float-right" type="submit" value="{% blocktrans with price=game.price %}Buy for {{ price }} €{% endblocktrans %}">
                </div>
            </div>
        </form>
    </div>
{% endblock main %}