{% extends "__base.html" %}
{% load static %}
{% load i18n %}
{% load cloudinary %}

{%  block head_script %}
    {{ block.super }}
    <script type="text/javascript" src={% static "javascript/game_service.js" %}></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
{% endblock %}

{% block main %}

<h3>
    {{ game.name|title }}
    <small>
        {% with request.user.profile.get_bought_games as bought_games %}
            {% if game in bought_games %}
                <a href="{% url 'game:play' slug=game.slug %}">{% trans 'Play' %}</a>
            {% else %}
                <a href="{% url 'game:buy' slug=game.slug %}">{% trans 'Buy' %}</a>
            {% endif %}
            {%  if game in request.user.profile.get_developed_games %}
                <a href="{% url 'game:update' slug=game.slug %}">{% trans 'Update' %}</a>
            {% endif %}
        {%  endwith %}
    </small>
</h3>
{#<img src="{% get_static_prefix %}images/{{game.icon}}" width="150" height="150"/>#}
    <img src="https://screenshotlayer.com/images/assets/placeholder.png">
<p>Added: {{ game.date_added|date:"Y-m-d" }}</p>
<p>Slug: {{ game.slug }}</p>
<p>Dev: {{ game.dev.url_slug }}</p>
<p>Url: {{ game.url }}</p>
<p>Description: {{ game.description }}</p>
<p>Price: {{ game.price }}</p>
<p id="test"></p>

<input type="hidden" id="game_slug" value="{{ game.slug }}" readonly>
<input type="hidden" id="user_id" value="{{ request.user.profile.id }}" readonly>
<input type="hidden" id="game_state" value="{{ game_state.state }}" readonly>
<input type="hidden" id="game_state_url" value="{%  url 'game:game-state' slug=game.slug %}" readonly>
<input type="hidden" id="game_score_url" value="{%  url 'game:game-score' slug=game.slug %}" readonly>

<div id="game_play">
    {% if game_state.state %}
        <iframe id="game_frame" src="http://webcourse.cs.hut.fi/example_game.html" style="filter: blur(5px)"></iframe>
        <input type="submit" id="game_resume" class="button" value="Resume">
    {% else %}
        <iframe id="game_frame" src="http://webcourse.cs.hut.fi/example_game.html"></iframe>
        <input type="submit" id="game_resume" class="button" value="Resume" style="display: none;">
    {% endif %}
</div>
{% endblock main %}