{% extends "__base.html" %}
{% load i18n %}

{% block title %}{{ page_title }} &ndash; {{ block.super }}{% endblock title %}

{% block main %}

<div class="row">
    <div class="small-12 columns">
        <h1>{{ page_title }}</h1>
    </div>
</div>

<div class="row">
    <form action="" method="get">
{#        {% csrf_token %}#}
        {{ game_search.non_field_errors }}
        <div class="fieldWrapper">
            {{ game_search.query.errors }}
            {{ game_search.query }}
            <button type="submit">Search</button>
        </div>
    </form>
{#    {% include "_input_grid.html" with form=game_search %}#}
</div>

<div class="row">
    <div class="small-12 columns">
        <h1>{% include "_game_grid.html" with games=games %}</h1>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        {% include "_paginator.html" %}
    </div>
</div>

{% endblock main %}