{% extends "__base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

<h3>
    {{ game.name|title }}
    <small>
        {%  with request.user.profile.get_bought_games as bought_games %}
            {%  if game in bought_games %}
                <a href="{% url 'game:play' slug=game.slug %}">{% trans 'Play' %}</a>
            {%  else %}
                <a href="{% url 'game:buy' slug=game.slug %}">{% trans 'Buy' %}</a>
            {%  endif %}
        {%  endwith %}
    </small>
</h3>
<img src="{% get_static_prefix %}images/{{game.icon}}" width="150" height="150"/>
<p>Added: {{ game.date_added|date:"Y-m-d" }}</p>
<p>Slug: {{ game.slug }}</p>
<p>Dev: {{ game.dev.url_slug }}</p>
<p>Url: {{ game.url }}</p>
<p>Description: {{ game.description }}</p>
<p>Price: {{ game.price }}</p>

<h4>Developer stats:</h4>
<p>Earning: {{ game_stat.amount_earned }}</p>
<p>First sell: {{ game_stat.first_sell }}</p>

{% if game.screenshots.all %}
    <p>Screenshots:</p>
{% endif %}

{% for screenshot in game.screenshots.all %}
    <img src="{% get_static_prefix %}images/{{screenshot.image}}" width="150" height="150"/>
{% endfor %}


{% endblock main %}