{% extends "base.html" %}
{% load static %}

{% block content %}
    <div>
        {% if user_profile.is_developer %}
            <a href="{% url 'game:create' %}">Add game</a>
            <div>
                <h2>Games</h2>
                {% for game in games %}
                    <p>{{ game.name }} <a href="{% url 'game:delete' game.pk %}">X</a></p>
                {% empty %}
                    <p>No games yet.</p>
                {% endfor %}
            </div>
        {% endif %}
        <a href="{% url 'profile:logout' %}" >Logout</a>
        <h3>{{ user_profile.user.username }}</h3>
        <a href="{% url 'profile:user-profile-update' %}">Update profile</a>
        <img src="{% get_static_prefix %}images/{{user_profile.profile_pic}}" width="150" height="150"/>
        <p>First Name: {{ user_profile.user.first_name }}</p>
        <p>Last Name: {{ user_profile.user.last_name }}</p>
        <p>Email: {{ user_profile.user.email }}</p>
        <p>Last login: {{ user_profile.user.last_login }}</p>
        <p>
            Groups:
            {% for group in user_profile.user.groups.all %}
                <b>{{ group }}</b>
            {% empty %}
                <b>No groups</b>
            {% endfor %}
        </p>
        <p>Permissions: {{ user_profile.user.permissions|default:'None' }}</p>
    </div>
{% endblock %}