main {
    min-height: 580px;
}
footer {
    text-align: center;
    background: #074e68;
    padding-top: 15px;
}

footer h4, footer p {
    color: #ddd;
}

.tbody.tr {
    font-style: normal;
}

/*Profile*/
.cloudinary-image {
    position: relative;
    margin-bottom: 15px;
}

.cloudinary-image label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 250px;
    margin: 0;
    background: rgba(0,0,0, 0.5);
    padding: 10px;
    color: white;
    text-align: center;
}