{% comment %}
An Architecture for Django Templates
https://oncampus.oberlin.edu/webteam/2012/09/architecture-django-templates
{% endcomment %}

{% load staticfiles i18n %}

{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
    {% block meta %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock meta %}
    
    <title>{% block title %}LevelUp{% endblock title %}</title>

    {% block fonts %}
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif:400,700|Overpass+Mono" rel="stylesheet">
    {% endblock fonts %}

    {% block css %}
        {% block foundation_css %}
            <link href="{% static "foundation/css/app.css" %}" rel="stylesheet"/>
        {% endblock foundation_css %}
        {% block fontawesome_css %}
            <link href="{% static "fontawesome/css/font-awesome.min.css" %}" rel="stylesheet"/>
        {% endblock fontawesome_css %}
        {% block custom_css %}
            <link href="{% static "css/_social_login.css" %}" rel="stylesheet"/>
        {% endblock custom_css %}
        <link href="{% static "css/levelup.css" %}" rel="stylesheet"/>
    {% endblock css %}

    {% block head_js %}
        {% block foundation_jquery %}
            <script src="{% static "foundation/bower_components/jquery/dist/jquery.js" %}"></script>
        {% endblock foundation_jquery %}
    {% endblock head_js %}

</head>
<body {% block body_attr %}{% endblock %}>
    {% block body %}
        <div class="expanded row collapse" data-equalizer>
            <div id="sidebar" class="small-12 medium-4 large-3 columns" data-equalizer-watch>
                <header class="row">
                    {% block header %}
                        {% include "_header.html" %}
                    {% endblock header %}
                </header>
                <nav class="row">
                    {% block navigation %}
                        {% include "_navigation.html" %}
                    {% endblock navigation %}
                </nav>
            </div>
            <main class="small-12 medium-8 large-9 columns" data-equalizer-watch>
                <div class="row">
                    <div class="small-12 columns">
                        {% block messages %}
                            {% include "_messages.html" %}
                        {% endblock messages %}
                    </div>
                </div>
                <div class="row">
                    <div class="small-12 columns">
                        {% block main %}
                        {% endblock main %}
                    </div>
                </div>
            </main>
        </div>
        <footer class="expanded row">
            {% block footer %}
                {% include "_footer.html" %}
            {% endblock footer %}
        </footer>
    {% endblock body %}

    {% block body_js %}
        {% block foundation_js %}
            <script src="{% static "foundation/bower_components/what-input/dist/what-input.js" %}"></script>
            <script src="{% static "foundation/bower_components/foundation-sites/dist/js/foundation.js" %}"></script>
        {% endblock foundation_js %}
        {% block canvasjs %}
            <script src="{% static "javascript/jquery.canvasjs.min.js" %}"></script>
        {% endblock canvasjs %}
        <script src="{% static "javascript/levelup.js" %}"></script>
    {% endblock body_js %}

    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
</body>
</html>
