{% load i18n class_tag cloudinary %}

{% if form %}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="small-12 columns">
                {% for error in form.non_field_errors %}
                    <div data-alert class="alert-box alert">
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% for field in form %}
        {% if field.field|get_class == 'CloudinaryFileField' and form_update %}
            <div class="row">
                <div class="cloudinary-image columns">
                    {% cloudinary field.initial width=250 height=250 crop="fill" class="preview" data_id=field.html_name %}
                    <label for="id_{{ field.html_name }}">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                        {% trans "Update" %}
                    </label>
                    <input id="id_{{ field.html_name }}"
                           class="hide"
                           name="{{ field.html_name }}"
                           type="file">
                </div>
            </div>
        {% else %}
            <div class="row{% if field.is_hidden %} hide{% endif %}">
                <div class="small-12 columns">
                    <div class="input-wrapper{% if field.errors %} error{% endif %}">
                        <label>{{ field.label }}{% if field.help_text %} <small>{{ field.help_text|safe }}</small>{% endif %}
                            {{ field }}
                        </label>
                        {% for error in field.errors %}
                            <small class="error">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if submit_text %}
    <div class="row">
        <div class="small-12 columns">
            <input type="submit" class="button" value="{{ submit_text }}">
        </div>
    </div>
{% endif %}