{% load i18n users cloudinary %}

{% if form %}
    {% if form.non_field_errors %}
        <div class="row">
            <div class="small-12 columns">
                {% for error in form.non_field_errors %}
                    <div data-alert class="alert-box alert">
                        {{ error }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {% for field in form %}
        {% if field.field|get_class == 'CloudinaryFileField' %}
            <div class="row">
                <div class="small-12 columns">
                    <div class="cloudinary-image clearfix">
                        <div class="callout float-left text-center">
                            {% if field.initial %}
                                <img class="preview" data-id="{{ field.html_name }}" width="128" height="128" src="{% cloudinary_url field.initial width=256 height=256 crop="fill" %}">
                            {% else %}
                                <img class="preview" data-id="{{ field.html_name }}" width="128" height="128">
                            {% endif %}
                            <label class="button expanded" for="id_{{ field.html_name }}">
                                <i class="fa fa-file-photo-o" aria-hidden="true"></i>
                                {% trans "Select" %} {{ field.label }}
                            </label>
                        </div>
                        <input id="id_{{ field.html_name }}"
                               class="hide"
                               name="{{ field.html_name }}"
                               type="file">
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row{% if field.is_hidden %} hide{% endif %}">
                <div class="small-12 columns">
                    <div class="input-wrapper{% if field.errors %} error{% endif %}">
                        <label>{{ field.label }}{% if field.help_text %} <small>{{ field.help_text|safe }}</small>{% endif %}
                            {{ field }}
                        </label>
                        {% for error in field.errors %}
                            <small class="error">{{ error }}</small>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
{% if submit_text %}
    <div class="row">
        <div class="small-12 columns">
            <input type="submit" class="button" value="{{ submit_text }}">
        </div>
    </div>
{% endif %}