{% load i18n users %}

<div class="input-wrapper{% if field.errors %} error{% endif %}">
    <label>
        {{ field.label }}{% if field.help_text %} <small>{{ field.help_text|safe }}</small>{% endif %}

        {% if field.field|get_class == "ChoiceField" %}
            <select name="{{ field.name }}">
                {% for choice in field.field.choices %}
                    <option value="{% firstof choice.0 "" %}" {% if choice.0 == field.value %}selected{% endif %}>
                        {% if choice.0 == None %}
                            {% trans "Choose" %} {{ field.label|lower }}
                        {% else %}
                            {{ choice.1 }}
                        {% endif %}
                    </option>
                {% endfor %}
            </select>
        {% else %}
            {{ field }}
        {% endif %}
    </label>
    {% for error in field.errors %}
        <small class="error">{{ error }}</small>
    {% endfor %}
</div>