{% extends "__base.html" %}
{% load i18n %}

{% block main %}
    <div class="row">
        <div class="small-12 columns">
            <h1>{% trans 'Welcome!' %}</h1>
        </div>
    </div>
    {% if most_played %}
        <div class="row">
            <div class="small-12 columns">
                <h2>{% trans 'Most Played' %}</h2>
            </div>
        </div>
        {% include "_game_grid.html" with games=most_played type="most-played" %}
    {% endif %}

    {% if best_sellers %}
        <div class="row">
            <div class="small-12 columns">
                <h2>{% trans 'Best Sellers' %}</h2>
            </div>
        </div>
        {% include "_game_grid.html" with games=best_sellers type="best-sellers" %}
    {% endif %}

    {% if trending_this_month %}
        <div class="row">
            <div class="small-12 columns">
                <h2>{% trans 'Trending this month' %}</h2>
            </div>
        </div>
        {% include "_game_grid.html" with games=trending_this_month type="trending-month" %}
    {% endif %}

    {% if trending_this_week %}
        <div class="row">
            <div class="small-12 columns">
        <h2>{% trans 'Trending this week' %}</h2>
            </div>
        </div>
        {% include "_game_grid.html" with games=trending_this_week type="trending-week" %}
    {% endif %}

{% endblock main %}