{% extends "__base.html" %}
{% load i18n %}

{% block main %}
    <h1>{% trans 'Welcome!' %}</h1>
    {%  if not request.user.is_authenticated %}
        <p>{% trans 'Log In' %}</p>
        {%  include 'auth/_login_form.html' %}
    {%  endif %}

    <h3>{% trans 'Best Sellers' %}</h3>
    <div class="row">
        <div class="small-12 columns">
            <h1>{% include "_game_grid.html" with games=best_sellers %}</h1>
        </div>
    </div>

    <h3>{% trans 'Trending this month' %}</h3>
    <div class="row">
        <div class="small-12 columns">
            <h1>{% include "_game_grid.html" with games=trending_this_month %}</h1>
        </div>
    </div>

    <h3>{% trans 'Trending this week' %}</h3>
    <div class="row">
        <div class="small-12 columns">
            <h1>{% include "_game_grid.html" with games=trending_this_week %}</h1>
        </div>
    </div>

{% endblock main %}